packages/RestSharp.106.6.10/lib/netstandard2.0/RestSharp.xml
packages/RestSharp.106.6.10/lib/netstandard2.0/RestSharp.dll
packages/RestSharp.106.6.10/lib/net452/RestSharp.xml
packages/RestSharp.106.6.10/lib/net452/RestSharp.dll
packages/RestSharp.106.6.10/RestSharp.106.6.10.nupkg
packages/RestSharp.106.6.10/.signature.p7s
packages/Microsoft.Bcl.Build.1.0.14/tools/Uninstall.ps1
packages/Microsoft.Bcl.Build.1.0.14/tools/Microsoft.Bcl.Build.targets
packages/Microsoft.Bcl.Build.1.0.14/tools/Microsoft.Bcl.Build.Tasks.dll
packages/Microsoft.Bcl.Build.1.0.14/tools/Install.ps1
packages/Microsoft.Bcl.Build.1.0.14/content/sl4/_._
packages/Microsoft.Bcl.Build.1.0.14/content/sl4-windowsphone71/_._
packages/Microsoft.Bcl.Build.1.0.14/content/portable-net40+win8+sl4+wp71+wpa81/_._
packages/Microsoft.Bcl.Build.1.0.14/content/netcore45/_._
packages/Microsoft.Bcl.Build.1.0.14/content/net40/_._
packages/Microsoft.Bcl.Build.1.0.14/Microsoft.Bcl.Build.1.0.14.nupkg
packages/Microsoft.Bcl.Build.1.0.14/License-Stable.rtf
packages/Microsoft.Bcl.Build.1.0.14/.signature.p7s
packages/Microsoft.Bcl.1.1.10/lib/wpa81/_._
packages/Microsoft.Bcl.1.1.10/lib/wp8/_._
packages/Microsoft.Bcl.1.1.10/lib/win8/_._
packages/Microsoft.Bcl.1.1.10/lib/sl5/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.10/lib/sl5/System.Threading.Tasks.dll
packages/Microsoft.Bcl.1.1.10/lib/sl5/System.Runtime.xml
packages/Microsoft.Bcl.1.1.10/lib/sl5/System.Runtime.dll
packages/Microsoft.Bcl.1.1.10/lib/sl5/System.IO.xml
packages/Microsoft.Bcl.1.1.10/lib/sl5/System.IO.dll
packages/Microsoft.Bcl.1.1.10/lib/sl4/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.10/lib/sl4/System.Threading.Tasks.dll
packages/Microsoft.Bcl.1.1.10/lib/sl4/System.Runtime.xml
packages/Microsoft.Bcl.1.1.10/lib/sl4/System.Runtime.dll
packages/Microsoft.Bcl.1.1.10/lib/sl4/System.IO.xml
packages/Microsoft.Bcl.1.1.10/lib/sl4/System.IO.dll
packages/Microsoft.Bcl.1.1.10/lib/sl4-windowsphone71/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.10/lib/sl4-windowsphone71/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.10/lib/sl4-windowsphone71/System.Threading.Tasks.dll
packages/Microsoft.Bcl.1.1.10/lib/sl4-windowsphone71/System.Runtime.xml
packages/Microsoft.Bcl.1.1.10/lib/sl4-windowsphone71/System.Runtime.dll
packages/Microsoft.Bcl.1.1.10/lib/sl4-windowsphone71/System.IO.xml
packages/Microsoft.Bcl.1.1.10/lib/sl4-windowsphone71/System.IO.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-win81+wp81+wpa81/_._
packages/Microsoft.Bcl.1.1.10/lib/portable-net451+win81/_._
packages/Microsoft.Bcl.1.1.10/lib/portable-net451+win81+wpa81/_._
packages/Microsoft.Bcl.1.1.10/lib/portable-net45+win8+wpa81/_._
packages/Microsoft.Bcl.1.1.10/lib/portable-net45+win8+wp8+wpa81/_._
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8/System.Threading.Tasks.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8/System.Runtime.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8/System.Runtime.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8/System.IO.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8/System.IO.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8+wp8+wpa81/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8+wp8+wpa81/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8+wp8+wpa81/System.Threading.Tasks.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8+wp8+wpa81/System.Runtime.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8+wp8+wpa81/System.Runtime.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8+wp8+wpa81/System.IO.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8+wp8+wpa81/System.IO.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl5+win8+wp8+wpa81/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl5+win8+wp8+wpa81/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl5+win8+wp8+wpa81/System.Threading.Tasks.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl5+win8+wp8+wpa81/System.Runtime.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl5+win8+wp8+wpa81/System.Runtime.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl5+win8+wp8+wpa81/System.IO.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl5+win8+wp8+wpa81/System.IO.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8/System.Threading.Tasks.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8/System.Runtime.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8/System.Runtime.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8/System.IO.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8/System.IO.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp8+wpa81/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp8+wpa81/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp8+wpa81/System.Threading.Tasks.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp8+wpa81/System.Runtime.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp8+wpa81/System.Runtime.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp8+wpa81/System.IO.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp8+wpa81/System.IO.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp71+wpa81/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp71+wpa81/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp71+wpa81/System.Threading.Tasks.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp71+wpa81/System.Runtime.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp71+wpa81/System.Runtime.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp71+wpa81/System.IO.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp71+wpa81/System.IO.dll
packages/Microsoft.Bcl.1.1.10/lib/net45/_._
packages/Microsoft.Bcl.1.1.10/lib/net40/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.10/lib/net40/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.10/lib/net40/System.Threading.Tasks.dll
packages/Microsoft.Bcl.1.1.10/lib/net40/System.Runtime.xml
packages/Microsoft.Bcl.1.1.10/lib/net40/System.Runtime.dll
packages/Microsoft.Bcl.1.1.10/lib/net40/System.IO.xml
packages/Microsoft.Bcl.1.1.10/lib/net40/System.IO.dll
packages/Microsoft.Bcl.1.1.10/lib/monotouch/_._
packages/Microsoft.Bcl.1.1.10/lib/monoandroid/_._
packages/Microsoft.Bcl.1.1.10/lib/Xamarin.iOS10/_._
packages/Microsoft.Bcl.1.1.10/Microsoft.Bcl.1.1.10.nupkg
packages/Microsoft.Bcl.1.1.10/License-Stable.rtf
packages/Microsoft.Bcl.1.1.10/.signature.p7s
